body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.welcome {
    padding: 1px;
    background-color:#d8d8d8;
    border: 1px solid #000000;
    border-radius: 5px;
    padding:5px;
    margin:5px;
}

.news {
    background-color: #d2ecff;
    border: 2px solid #656565;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

.news>h2 {
    margin:1px;
}

.artic {
    background-color: #fce97e;
    border: 2px solid #656565;
    border-radius: 5px;
    padding: 10px;
}

.artic>h2 {
    margin:1px;
}

.tourn {
    background-color: #f2a08e;
    border: 2px solid #656565;
    border-radius: 5px;
    padding: 10px;
}

.tourn>h2 {
    margin:1px;
}

.player {
    background-color: #9eff75;
    border: 2px solid #656565;
    border-radius: 5px;
    padding: 10px;
    height:220px;
}

