body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.big-form>input, select, textarea {
    max-width: 100%;
}

.home-article {
    padding-left:1px;
    padding-right:5px;
}

.home-title {
    border: 1px solid #000000;
    background-color:#d8d8d8;
    border-radius: 2px;
    padding:1px;
    text-align:center;
}

.welcome {
    padding: 1px;
    background-color:#d8d8d8;
    border: 1px solid #000000;
    border-radius: 2px;
    padding:5px;
    margin:5px;
}

.news {
    background-color: #f3faff;
    border: 1px solid #000000;
    border-radius: 2px;
    margin: 10px 5px;
    padding: 10px;
}

.news>h2 {
    margin:1px;
    height:2em;
    line-height:1em;

}

.news>p {
    height:2em;
    line-height:1em;
    margin-bottom:1px;
}

.artic {
    background-color: #fff6c6;
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 10px;
    margin-top: 20px;
}

.artic>h2 {
    margin:1px;
    height:2em;
    line-height:1em;
}

.artic>p {
    margin:1px;
    height:2em;
    line-height:1em;

}

.tourn {
    background-color: #ffe1cb;
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 10px;
    margin-right:5px;
}

.tourn>h2 {
    margin:1px;
}

.player {
    background-color: #cdffb7;
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 10px;
    height:220px;
}

.wrap {
    text-overflow: clip;
    word-wrap: break-word;
    overflow:hidden;
}

.wrap>h2 {
    text-overflow: clip;
    word-wrap: break-word;
    overflow:hidden;
}
 
